// #879F36 綠
// #EDB53A 黃
// #6D6263 深灰
// #A49F95 淺灰
// #D2B27B 土黃

.parking-space {
    background-color: #F8F9FA;
    padding: 50px 100px 50px;

    .parking-header {
        display: flex;
        align-items: center;
        justify-content: center;

        .parking-title {
            font-size: 64px;
            font-weight: 800;
            color: #879F36;
            margin: 0 0 0 5px;
            letter-spacing: 2px;
    
            &::after {
                content: " Space";
                color: #EDB53A;
            }
        }

        .parking-title-desc {
            color: #6D6263;
        }
    }

    .parking-content {
        display: flex;
        padding: 50px 0 0 0;

        .parking-map {
            flex: 2;
            display: flex;
            justify-content: center;

            .label-box {
                background: #657fc5;
                padding: 2px;
                border-radius: 50px;
                box-shadow: -2px 2px 5px #565085;
                color: #fff;

                .label-content {
                    margin-left: 2px;
                    display: flex;
                    align-items: center;
                    padding: 2px;

                    .box-title {
                        display: none;
                        margin-left: 5px;
                        font-size: 12px;
                    }

                    &:hover {
                        cursor: pointer;
                        padding: 2px 5px;

                        .box-title {
                            display: block;
                        }
                    }
                }
            }
        }
        
        .parking-info {
            margin: 0 0 0 100px;
            flex: 1;
            text-align: left;
            border-bottom: 3px solid #374D65;
            border-top: 3px solid #374D65;
            position: relative;

            .parking-detail {
                // position: absolute;
                // z-index: 1;
                // top: 10px;
                // left: 10px;

                .parking-info-header-box {
                    margin: 30px 0;
                    text-align: center;

                    .parking-info-header {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .icon-map {
                            color: #787876;
                            font-size: 40px;
                        }

                        .parking-info-title {
                            font-size: 36px;
                            margin: 0 0 0 10px;
                        }
                    }
                    
                    .parking-info-desc {
                        font-size: 14px;
                        margin: 10px 0 0 0;
                    }
                }

                .parking-info-content-box {
                    padding: 0 75px;
                    font-size: 16px;
                }
            }

            .icon-car {
                position: absolute;
                z-index: 0;
                right: 0;
                bottom: 0;
                font-size: 150px;
                color: #374D65;
            }

            .icon-wind {
                position: absolute;
                z-index: 0;
                right: 200px;
                bottom: 30px;
                font-size: 40px;
                color: #374D65;
            }
        }
    }
}